.view-picture {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.view-picture_mode_editor {
    transform: rotateY(180deg);
}

.view-picture__viewer,
.view-picture__editor {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.view-picture__viewer {
    transform: rotateY(0deg);
}

.view-picture__editor {
    transform: rotateY(180deg);
}

.view-picture__edit-button,
.view-picture__save-button {
    user-select: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    line-height: 24px;
    text-align: center;
    background-color: #FFF;
    color: #666;
    border-radius: 15px;
    font-size: 12px;
    opacity: 0.5;
}