.view-picture {
    position: relative;
    height: 100%;
}

.view-picture__edit-button,
.view-picture__save-button {
    user-select: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    line-height: 24px;
    text-align: center;
    background-color: #FFF;
    color: #666;
    border-radius: 15px;
    font-size: 12px;
    opacity: 0.5;
}