.view-picture-viewer {
    position: relative;
}

.view-picture-viewer__name {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
    text-transform: capitalize;
    opacity: 0.8;
    text-shadow: 0 0 25px #FFF;
}

.view-picture-viewer__image {
    height: 400px;
    width: 640px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
}

.view-picture-viewer__counter {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 200px;
    margin-top: -100px;
    font-size: 200px;
    color: #FFF;
    text-align: center;
    opacity: 0.5;
}