.view-header {
    position: fixed;
    left: 300px;
    top: 0;
    right: 0;
    height: 50px;
    padding: 40px;
}

.view-header__logo {
    display: inline-block;
    background: url('./header__logo.svg') no-repeat 50% 50%;
    background-size: contain;
    width: 400px;
    height: 40px;
}

.view-header__counter {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    vertical-align: 9px;
    margin-left: 20px;
}
