.view-browser {
    position: relative;
}

.view-browser__thumbs-list {
    position: relative;
    width: 300px;
    z-index: 1;
    overflow: auto;
}

.view-browser__overview {
    position: fixed;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 640px;
    height: 500px;
    margin-top: -250px;
    margin-left: -170px;
    background-color: #b5d592;
}